[Unit]
Description=Run Automated System Updates and Docker Images Updates

[Timer]
OnCalendar=weekly
Persistant=true

[Install]
WantedBy=timers.target
